body
{
    margin:0;
	background-color: rgb(64,64,64);
	color: white;
}
a
{
	color: lightblue;
}
a:visible
{
	color: lightpurple;
}
a:active
{
	color: ghostwhite;
}
#search
{
	width: 75%;
	text-align: center;
	margin: 0;
	
}
#searchb
{
	width: 25%;
	text-align: center;
	margin: 0;
	top: 0;
	position: relative;
}
h1
{
    text-align: center;
	color: darkred;
	text-shadow: 1px 1px 0 firebrick, 0 0 0.25em black;
}
h2
{
    margin: 0;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 10s linear infinite;
}