/*Accent color: #5E98C1*/
/*Line color: #457FA8*/
/*Content BG color: #2B658E*/
/*Background color: #124C75*/

body
{
	background-color: #0288d1;
	font-family: 'Droid Sans', sans-serif;
}

div
{
	background-color: #29b6f6;
}

#header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 3em;
	max-height: 3em;
	border-bottom: 1px solid #03a9f4;
	background-color: #03a9f4;
	z-index: 9001;
}

#bgdiv
{
	position: fixed;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
}

#maincontent
{
	position: absolute;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
	background-color: rgba(0,0,0,0);
}

#maincontentghost
{
	position: absolute;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
	background-color: rgba(0,0,0,0);
	pointer-events: none;
}
