/*Accent color: #5E98C1*/
/*Line color: #457FA8*/
/*Content BG color: #2B658E*/
/*Background color: #124C75*/

body
{
	background-color: #0288d1;
	font-family: 'Open Sans', sans-serif;
}

input[type="button"]
{
	background-color: #0288d1;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(1,1,1,0.5);
	-webkit-transition: box-shadow ease-out 0.25s;
}

input[type="button"]:hover
{
	box-shadow: 1.5px 1.5px 1px rgba(1,1,1,0.5);
}

input[type="button"]:active
{
	background-color: #29b6f6;
	box-shadow: 2px 2px 1px rgba(1,1,1,0.5);
}

input[type="button"]:focus
{
	outline-width: 0;
}

div
{
	background-color: #29b6f6;
}

#header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 3em;
	max-height: 3em;
	border-bottom: 1px solid #03a9f4;
	background-color: #03a9f4;
	z-index: 9001;
}

#bgdiv
{
	position: fixed;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
}

#maincontent
{
	position: absolute;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
	background-color: rgba(0,0,0,0);
}

#maincontentghost
{
	position: absolute;
	top: 3em;
	left: 12.5%;
	width: 75%;
	min-height: calc(100% - 3em);
	background-color: rgba(0,0,0,0);
	pointer-events: none;
}

a
{
	color: #0277bd;
}
